.header-container {
    width: 100%;
    background-color: #657383;
    z-index: -1;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 5px solid black;
    margin-bottom: 20px;
}

#header, #branding {
    color: #FFFFFF;
}

#content {
    padding-top: 20px;
    padding-bottom: 20px;
}

#main-nav {
    float: left;
    padding-top: 10px;
    padding-left: 0;
}
    #main-nav ul {
        padding-left: 0;
    }

    #main-nav li {
        float: left;
        list-style: none;
        font-weight: bold;
        font-size: 13pt;
    }

        #main-nav li a {
            color: #FFFFFF;
            text-decoration: none;
            padding: 10px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
        }

            #main-nav li a:hover {
                background-color:#6D7B8D;
            }

.sidebar-block {
    clear: both;
    padding: 20px;
}

.footer-container-1, .footer-container-2, .footer-container-3 {
    color: #FFFFFF;
    width: 100%;
    z-index: -1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-container-1 {
    margin-top: 20px;
    border-top: 5px solid black;
    background-color: #6D7B8D;
}

.footer-container-2 {
    background-color: #657383;
}
.footer-container-3 {
    background-color: #616D7E;
}

