/*
 * Main Colors:
 *  Dark Grey: 37424A
 *  Orange: EE3224
 *
 * Possible other colors:
 *   Medium Grey (pantone 405): 60605B
 *   Blue (pantone reflex blue): 002395
 */

body {
    font-size: 16px;
    background: none repeat scroll 0 0 #FFFFFF;
}

h1 {
    font-size: 22pt;
}

#branding {
    font-size: 30pt;
    margin-bottom: 0px;
}

    #branding a:hover {
        text-decoration: none !important;
    }


h2 {
    font-size: 16pt;
}

h1, h2, h1 a, h2 a {
    color: #EE3224;
    font-family: Verdana, Arial;
    margin-bottom: 10px;
}

h3,h4,h5,h6 {
    color: #36424A;
}

.header-container {
    width: 100%;
    z-index: -1;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    background-color: #36424A;
    border-bottom: 1px solid black;
}

pre {
    overflow: hidden;
}

#content {
    color: #36424A;
}

.white-text {
    color: #FFFFFF
}

.grey-text {
    color: #36424A;
}

.light-grey-text {
    color: #CCCCCC;
}

#main-nav {
    list-style: none;
    vertical-align: bottom;
    padding-left: 0px;

}
    #main-nav li {
        float: left;
        margin-right: 25px;
        font-size: 18pt;
        color: #EE3224;
    }

    #main-nav li.selected {
        border-bottom: 8px solid #60605B;
    }

.date-published {
    position: relative;
    font-size: 12px;
    text-align: right;
    color: #60605B;
    width: 150px;
    top: -28px;
    right: 165px;
    margin: 0px;

}

a {
    text-decoration: none;
    color: #EE3224;

}
    a:hover {
        color: #EE3224;
        text-decoration: underline;
    }

.sidebar-block ul, .footer-block ul{
    list-style: none;
    padding-left: 0px;
}
    .sidebar-block li, .footer-block li {
        clear: both;
        margin-bottom: 10px;
    }

.quote {
    float: left;
    width: 20px;
}

.tweet a {
    color: #60605B;
}

.footer-container-1 {
    margin-top: 30px;
    border-top: 1px solid black;
    padding-top: 15px;
    background-color: #36424A;
    color: #FFFFFF;
}

.footer-block .links li img {
    position: relative;
    top: 10px;
    padding-right: 5px;
}


.image-block {
    clear: both;
    border-color: #60605B;
    background-color: #60605B;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 5px;
    padding-bottom: 0px;
}
    .image-block img {
        width: 100%;
    }
