.pagination {
            font-size: 80%;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #60605B;
	color: #0d7dc0;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.pagination .current {
    background: #0d7dc0;
    color: #fff;
	border: solid 1px #60605B;
}

.pagination .current.prev, .pagination .current.next{
	color:#60605B;
	border-color:#60605B;
    background-color: transparent;
}
