<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}Mark's Blog{% endblock %}</title>

    <link rel="stylesheet" href="/media/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/media/css/blueprint/print.css" type="text/css" media="print">	
    <link rel="stylesheet" href="/media/css/custom.css" type="text/css" media="screen, projection">	
    <!--[if lt IE 8]><link rel="stylesheet" href="/media/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="alternate" type="application/atom+xml" title="Latest Entries" href="/feeds/latest/" />
    {% load google_webmaster_tags %}
    {% webmaster_meta_tag %}
    {% block extra-css %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
    <!-- Google Analytics Code -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16611387-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <div class="header-container">
        <div class="container">
            <div id="header" class="span-24 last">
                <div class="span-17">
                    <h1 id="branding">Mark Liu</h1> <div class="light-grey-text">Co-founder of Leaguevine</div>
                </div>
                <div class="span-7 last">
                    <ul id="main-nav">
                        <li id="main-nav-entries" {% if not is_about %}class="selected"{% endif %}><a href="{% url coltrane_entry_archive_index %}">Blog</a></li>
                        <li id="main-nav-about" {% if is_about %}class="selected"{% endif %}><a href="/about/">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="span-16">
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            <div id="comments">
                {% block comments %}
                {% endblock %}
            </div>
        </div>
        <div class="span-1">&nbsp;</div>
        <div id="right-sidebar" class="span-7 last">
            {% block right-sidebar %}
            <div class="sidebar-block">
                <h3>Recent Tweets</h3>
                {% load coltrane_tags %}
                {% load twitter_tags %}
                {% get_twitter_messages user MarkWLiu limit 7 as tweets %}
                <ul class="links">
                {% for tweet in tweets %}
                    <li>
                    <div class="quote"><img height="15px" src="/media/images/quotes.jpg"></div> <div class="tweet"><a href="{{ tweet.url }}">{{ tweet.text }}</a></div>
                    </li>
                {% endfor %}
                </ul>
                &nbsp;
            </div>
            {% endblock %}
        </div>
    </div>
    <div class="footer-container-1">
        <div class="container">
            <div id="footer-1" class="span-24 last">
                <div class="footer-block span-7">
                    <h2>Thanks for visiting!</h2>
                    <div class="image-block"><img src="/media/images/mark_liu_with_kids.jpg" alt="Profile Picture" /></div>
                </div>

                <div class="span-1">&nbsp;</div>
                <div class="footer-block span-8">
                    <h2>About This Site</h2>
                    <p>This blog is written in <a href="http://www.python.org/" title="Python Programming Language">Python</a> and is using the <a href="http://www.djangoproject.com/" title="Django Web Development Framework">Django</a> web development framework.  
                    It is being hosted by the people over at <a href="http://www.webfaction.com/" title="Webfaction Web Hosting">Webfaction</a>.</p>
                    <p>You are free to use and modify both the content on this blog and the <a href="http://github.com/mliu7/personal-django-blog">source code</a> behind it.</p>
                    <p>It was built by <a href="/about/">Mark Liu</a>, founder of <a href="http://leaguevine.com">Leaguevine</a>.</p>
                </div>
                <div class="span-1">&nbsp;</div>
                <div class="footer-block span-7 last">
                    <h2>Follow Me</h2>
                    <ul class="links">
                        <li><img height="30px" src="/media/images/facebook_logo.png"><a href="http://www.facebook.com/mliu7">Facebook</a></li>
                        <li><img height="30px" src="/media/images/twitter_logo.png"><a href="http://twitter.com/MarkWLiu">Twitter</a></li>
                        <li><img height="30px" src="/media/images/linkedin_logo.png"><a href="http://www.linkedin.com/in/markwliu">LinkedIn</a></li>
                        <li><img height="30px" src="/media/images/github_logo.png"><a href="http://github.com/mliu7">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
