<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}Mark's Blog{% endblock %}</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen, projection">	
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css" type="text/css" media="screen, projection">	
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pagination.css" type="text/css" media="screen, projection">	
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.pagination.js"></script>
    <!--[if lt IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    {% block extra-js %}{% endblock %}
    <link rel="alternate" type="application/atom+xml" title="Latest Entries" href="/feeds/latest/" />
    {% load google_webmaster_tags %}
    {% webmaster_meta_tag %}
    {% block extra-css %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
    <!-- Google Analytics Code -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16611387-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <div id='outer-wrapper'>
        <div id='wrap2'>
            <div id='header-wrapper'>
                <div class="header section" id="header">
                    <div class="widget Header" id="Header1">
                        <div id="header-inner">
                            <div class='titlewrapper' style='background: transparent'>
                                <h1 class='title'>
                                    <a href="/">Mark Liu</a>
                                </h1>
                            </div>
                            <div class='descriptionwrapper'>
                                <p class='description'><span>Co-founder of Leaguevine</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix" id="topMenuCont">
                    <ul class="clearfix">
                        <li id="main-nav-about" {% if is_about %}class="selected"{% endif %}><a href="/about/">About</a></li>
                        <li id="main-nav-entries" {% if not is_about %}class="selected"{% endif %}><a href="{% url coltrane_entry_archive_index %}">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div id="content-wrapper">
                <div id="crosscol-wrapper" style="text-align:center"></div>
                <div id="main-wrapper">
                    <div class="main section" id="main">
                        <div class="widget Blog" id="Blog1">
                            <div class="blog-posts hfeed">
                                {% block content %}
                                {% endblock %}
                                <div id="comments">
                                    {% block comments %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sidebar-wrapper">
                    <div class="sidebar section" id="sidebar">
                        {% block right-sidebar %}
                        <div class="widget Label" id="Label1">
                            <h2>Tweets</h2>
                            <div class="widget-content">
                                {% load coltrane_tags %}
                                {% load twitter_tags %}
                                {% get_twitter_messages user MarkWLiu limit 7 as tweets %}
                                <ul>
                                {% for tweet in tweets %}
                                    <li>
                                        <div class="tweet"><a href="{{ tweet.url }}">{{ tweet.text }}</a></div>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endblock %}
                    </div>
                </div>
                </div>
            </div><!-- End content-wrapper -->
        </div><!-- end wrap2 -->
        <div class="clearfix"></div>
        <div id="footer-bg">
            <div id="footer-wrapper">
                <div id="footer1">
                    <div class="footer section" id="footer-1">
                        <h2>Thanks for visiting!</h2>
                        <div class="widget-content">
                            <div class="image-block"><img src="{{ STATIC_URL }}images/mark_liu_with_kids.jpg" alt="Profile Picture" /></div>
                        </div>
                    </div>
                    <div class="footer section" id="footer-2">
                        <h2>About This Site</h2>
                        <div class="widget-content">
                            This blog is written in <a href="http://www.python.org/" title="Python Programming Language">Python</a> and is using the <a href="http://www.djangoproject.com/" title="Django Web Development Framework">Django</a> web development framework.  
                            It is being hosted by the people over at <a href="http://www.webfaction.com/" title="Webfaction Web Hosting">Webfaction</a>.</p>
                            <p>You are free to use and modify both the content on this blog and the <a href="http://github.com/mliu7/personal-django-blog">source code</a> behind it.</p>
                            <p>It was built by <a href="/about/">Mark Liu</a>, founder of <a href="http://leaguevine.com">Leaguevine</a>.</p>
                        </div>

                    </div>
                    <div class="footer section" id="footer-3">
                        <h2>Follow Me</h2>
                        <div class="widget-content">
                            <ul class="links">
                                <li><a target="_blank" href="https://www.leaguevine.com/players/1/mark-spike-liu/"><img height="30px" src="{{ STATIC_URL }}images/icons/leaguevine.png"> Leaguevine</a></li>
                                <li><a target="_blank" href="http://www.facebook.com/mliu7"><img height="30px" src="{{ STATIC_URL }}images/icons/facebook.png"> Facebook</a></li>
                                <li><a target="_blank" href="http://twitter.com/MarkWLiu"><img height="30px" src="{{ STATIC_URL }}images/icons/twitter.png"> Twitter</a></li>
                                <li><a target="_blank" href="http://www.linkedin.com/in/markwliu"><img height="30px" src="{{ STATIC_URL }}images/icons/linkedin.png"> LinkedIn</a></li>
                                <li><a target="_blank" href="http://github.com/mliu7"><img height="30px" src="{{ STATIC_URL }}images/icons/github.png"> Github</a></li>
                                <li><a target="_blank" href="http://stackoverflow.com/users/205808/spike"><img height="30px" src="{{ STATIC_URL }}images/icons/stackoverflow.png"> Stackoverflow</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>
</html>
