{% extends "coltrane/base_entries.html" %}

{% block extra-js %}{{ block.super }}
    <script type="text/javascript">
        var items_per_page = 7;
        function pageselectCallback(page_index, jq){
            var start_index = page_index*items_per_page;
            var end_index = start_index + items_per_page;
            var new_content = jQuery('#entries div.entry').slice(start_index,end_index).clone(); 
            $('#Searchresult').empty();
            for(var i=0;i<new_content.length;i++) {
                $('#Searchresult').append(new_content[i]);
            }
            return false;
        }
        /** 
         * Initialisation function for pagination
         */
        function initPagination() {
            // count entries inside the hidden content
            var num_entries = jQuery('#entries div.entry').length;
            // Create content inside pagination element
            $("#Pagination").pagination(num_entries, {
                items_per_page: items_per_page, // Show only one item per page
                callback: pageselectCallback
            });
         }
        // When document is ready, initialize pagination
        $(document).ready(function(){      
            initPagination();
            $("#Pagination").trigger('setPage', [0]);
        });
    </script>
{% endblock %}

{% block content %}
    <div id="Searchresult">
    </div>
    <div id="entries" style="display:none;">
        {% for entry in object_list %}
            <div class="entry">
                <h2 class="date-header">
                    {{ entry.pub_date|date:"l, F j, Y" }}
                </h2>
                <div class="post hentry">
                    <h3 class="post-title entry-title">
                        <a href="{{ entry.get_absolute_url }}">
                            {{ entry.title }}
                        </a>
                    </h3>
                    <div class="post-body entry-content">
                        {{ entry.body_html|striptags|safe|truncatewords:80 }}
                    </div>
                    <div class="jump-link">
                        <a href="{{ entry.get_absolute_url }}">
                            <img alt="Hosted by imgur.com" src="http://lh5.ggpht.com/_Kwwy9VyLMKw/S3qD5C2ehpI/AAAAAAAACxs/wXR1PrS0Oko/but_readmore.png">
                        </a>
                    </div>
                    <div class="post-footer">
                        <div class="post-footer-line post-footer-line-1">
                            <span class="post-icons">
                            </span>
                        </div>
                        <div class="post-footer-line post-footer-line-2"></div>
                        <div class="post-footer-line post-footer-line-3"></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="Pagination"></div>
{% endblock %}
