{% extends "coltrane/base.html" %}

{% block title %}{{ block.super }} | Links{% endblock %}

{% block extra-css %}{{ block.super }} 
<link rel="stylesheet" href="{{ MEDIA_URL }}/css/blueprint/plugins/buttons/screen.css" type="text/css" media="screen, projection">
{% endblock %}

{% block right-sidebar %}{{ block.super }} 
    <div class="sidebar-block">
        <h3>Categories</h3>
        {% load coltrane_tags %}
        {% categories_for_model coltrane.link as link_categories with counts %}
            <ul class="links">
                {% for category in link_categories %}
                    {% if category.count %}
                        <li>
                        <a href="{{ category.get_absolute_links_url }}" title="{{ category.title }}">{{ category.title }}</a> ({{ category.count }})
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
    </div>
    <div class="sidebar-block">
        <h3>Latest Links</h3>
        {% load coltrane_tags %}
        {% get_latest_content coltrane.link 10 as latest_links %}
        <ul class="links">
            {% for link in latest_links %}
                <li>
                    <a href="{{ link.get_absolute_url }}">{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="sidebar-block">
        <h3>All Link Tags</h3>
        {% load tagging_tags %}
        {% tags_for_model coltrane.link as link_tags with counts %}
        <ul class="tags">
        {% for tag in link_tags %}
            <li>
                <a href="{% url coltrane_link_archive_tag tag.name %}">{{ tag.name }}</a> x {{ tag.count }}
            </li>
        {% endfor %}
    </div>
{% endblock %}
